body{
        background: #EFF7FE;
      padding-top: 15px;
}
.main-section{
	border:1px solid #b9c0c7;
	background-color: #fff;
	
}
.profile-header{
	background-color: #b9c0c7;
	height:150px;
}
.user-detail{
	margin:-50px 0px 30px 0px;
}
.user-detail img{
	height:300px;
	width:300px;
}
.user-detail h5{
	margin:15px 0px 5px 0px;
}
.user-social-detail{
	padding:15px 0px;
	background-color: #b9c0c7;
}
.user-social-detail a i{
	color:#fff;
	font-size:23px;
	padding: 0px 5px;
}