.navbar-nav .open .dropdown-menu {
        background-color:#2c3e50;
}
.margin-top-5{
    margin-top: 1.5rem;
}
.margin-top-15{
    margin-top: 8rem;
}
.margin-bot-15{
    margin-bottom: 7rem;
}
.margin-bot-5{
    margin-bottom: 1.5rem;
}

.select-estilo{
    border: 0px;
    outline: 0px;
    font-size: 1.5rem;
}
select.select-estilo > option{
    font-size: 1.5rem;
}
.letras-1-rem{
    font-size: 1.1rem;
        color: #495057;
}
.letras-blancas{
        color: #ffff;
}
.heredar-color{
    color: inherit;
}
.no-bordes{
	border: none;
}


.navbar-nav > li > .dropdown-menu {
        background-color: #2c3e50;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
             }
.bootstrap-tagsinput .tag [data-role="remove"]:after{
        content:"x";
        font-size: .7rem;
        padding:0px 2px;
        border-radius:40%;
        background-color: #272626;
        border-color: #18bc9c;
} 
.bootstrap-tagsinput{
        background-color:#fff;
        border: none; #ccc;
        display:inline-block;
        padding:4px 6px;
        color:#555;
        vertical-align:middle;
        border-radius:4px;
        max-width:100%;
        line-height:22px;
        cursor:text;
        padding-right: 20px;   
}
.bootstrap-tagsinput .tag{
        border-radius: 3px;
         font-size: 1.1rem;
            background-color:#dadada;
            margin-right:2px;
            color:white;
            padding-right: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #28a745;
    }
 .tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}